#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

&trackball_central_listener {
    scroller {
        layers = <4>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};


&lt {
    flavor = "balanced";
    bindings = <&mo>, <&kp>;

    tapping-term-ms = <150>;
};

&mt {
    bindings = <&kp>, <&kp>;

    tapping-term-ms = <150>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        f2 {
            bindings = <&kp F2>;
            key-positions = <28 27>;
        };

        leftclick {
            bindings = <&mkp LCLK>;
            key-positions = <33 34>;
        };

        rightclick {
            bindings = <&mkp RCLK>;
            key-positions = <34 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none             &none         &none         &none  &none      &none                                         &none             &none  &none      &none     &none                     &none
&kp TAB           &kp Q         &kp W         &kp E  &kp R      &kp T                                         &kp Y             &kp U  &kp I      &kp O     &kp P                     &kp MINUS
&kp BACKSPACE     &kp A         &kp S         &kp D  &kp F      &kp G               &none        &none        &kp H             &kp J  &kp K      &kp L     &kp SEMI                  &kp ENTER
&kp LSHFT         &kp Z         &kp X         &kp C  &kp V      &kp B               &lt 3 LSHFT  &kp DEL      &kp N             &kp M  &kp COMMA  &kp DOT   &mt RIGHT_SHIFT UP_ARROW  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &none  &mkp LCLK  &lt 2 INT_MUHENKAN  &lt 1 SPACE  &lt 1 SPACE  &lt 2 INT_HENKAN  &none  &none      &kp LEFT  &mt RCTRL DOWN            &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&trans           &trans          &trans           &trans           &trans           &trans                  &trans         &trans          &trans        &trans     &trans       &trans
&kp ESCAPE       &kp F10         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans                  &kp PAGE_UP    &trans          &kp UP_ARROW  &trans     &trans       &kp LS(MINUS)
&none            &kp RS(INT_RO)  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans  &trans  &trans  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &kp LS(SQT)  &trans
&kp KP_MULTIPLY  &kp KP_DIVIDE   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans  &trans  &trans  &none          &trans          &trans        &trans     &trans       &trans
&trans           &trans          &kp KP_NUMBER_0  &trans           &kp KP_NUMBER_0  &trans  &trans  &trans  &trans         &trans          &trans        &trans     &trans       &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans            &trans            &trans          &trans      &trans                    &trans      &trans      &trans      &trans      &trans      &trans
&none   &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(N3)      &kp LS(N4)  &kp LS(N5)                &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp LS(EQUAL)
&none   &none             &none             &msc SCRL_UP    &mkp LCLK   &mkp RCLK   &none  &none  &none       &none       &kp LBKT    &kp RBKT    &kp NUHS    &none
&none   &none             &none             &msc SCRL_DOWN  &none       &none       &none  &none  &none       &none       &kp BSLH    &none       &kp QMARK   &none
&none   &none             &none             &none           &none       &none       &none  &none  &none       &none       &none       &none       &none       &none
            >;
        };

        layer_3 {
            bindings = <
&trans      &trans        &trans        &trans        &trans  &trans                         &trans  &trans  &trans  &trans   &trans   &trans
&none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none   &none                          &none   &kp F7  &kp F8  &kp F10  &kp F11  &none
&none       &none         &none         &none         &none   &none   &none           &none  &none   &kp F4  &kp F5  &kp F6   &none    &none
&none       &none         &none         &none         &none   &none   &none           &none  &none   &kp F1  &kp F2  &kp F3   &none    &none
&bt BT_CLR  &none         &none         &none         &none   &none   &kp KP_NUMLOCK  &none  &none   &none   &none   &none    &none    &none
            >;
        };

        layer_4 {
            bindings = <
&trans     &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
